h2{
    text-decoration: underline;
}
section{
    border: 2px dashed green;
    background-color: rgb(181, 242, 181);
}
button{
    float: right;
    background-color: darkgray;
}

h1{
    background-color: black;
    color: white;
}
#codigos{
  border: 2px dashed green;
  background-color: rgb(181, 242, 181);
}